[submodule "server/tree-sitter-plugin/tree-sitter-typescript"]
	path = server/tree-sitter-plugin/tree-sitter-typescript
	url = git@github.com:tree-sitter/tree-sitter-typescript.git
[submodule "server/tree-sitter-plugin/tree-sitter-scss"]
	path = server/tree-sitter-plugin/tree-sitter-scss
	url = https://github.com/serenadeai/tree-sitter-scss
