.btn {
  width: 100px;
  &-test.result,
  &-tes.that {
    height: 10px;
    &-result {
      color: #ccc;
    }
  }
  &.cta {
    margin: auto 8px;
    float: none;
    display: block;
    display: inline;
    padding: 16px 32px;
  }
}
