.guide {
  &-container {
    position: relative;
    display: flex;
    font-size: 14px;
    margin: 8px 12px;
    padding: 16px 0 16px 16px;
    width: 100vw;
    height: 180px;
    border-radius: 6px;
    flex-direction: column;
  }

  &-title-row, &-result {
    display: flex;
    justify-content: space-between;
    height: 28px;
    margin-bottom: 16px;
    &-test {

    }
  }
  
}
